---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=2Meb8rejhZH9q1UL7IGZy1tCSm4AiZcF&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 28 Sep 2022 01:56:55 GMT
      Reversegeocodetransactioncount:
      - '0'
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=2Meb8rejhZH9q1UL7IGZy1tCSm4AiZcF&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=496135015"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=2Meb8rejhZH9q1UL7IGZy1tCSm4AiZcF&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-1054593346"}]}]}'
  recorded_at: Wed, 28 Sep 2022 01:56:55 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=529ec8123995c0d5362a84a8570088f1&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664330215,"sunrise":1664283136,"sunset":1664326167,"temp":66.79,"feels_like":65.34,"pressure":1022,"humidity":46,"dew_point":45.37,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":1.01,"wind_deg":175,"wind_gust":1.99,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1664326800,"temp":67.26,"feels_like":65.75,"pressure":1022,"humidity":44,"dew_point":44.64,"uvi":0,"clouds":45,"visibility":10000,"wind_speed":11.25,"wind_deg":190,"wind_gust":17.45,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0.28},{"dt":1664330400,"temp":66.79,"feels_like":65.34,"pressure":1022,"humidity":46,"dew_point":45.37,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":7.54,"wind_deg":185,"wind_gust":11.99,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0.24},{"dt":1664334000,"temp":67.03,"feels_like":65.5,"pressure":1022,"humidity":44,"dew_point":44.42,"uvi":0,"clouds":44,"visibility":10000,"wind_speed":4.16,"wind_deg":201,"wind_gust":7.2,"weather":[{"id":8[...]
- request:
    method: get
    uri: https://openlibrary.org/search.json?limit=5&q=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.062 TT 0 0.064"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 8849,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL7919260W",
                    "type": "work",
                    "seed": [
                        "/books/OL7534653M",
                        "/books/OL9773191M",
                        "/works/OL7919260W",
                        "/authors/OL2644662A"
                    ],
                    "title": "Denver                              **",
                    "title_suggest": "Denver                              **",
                    "edition_count": 2,
                    "edition_key": [
                        "OL7534653M",
                        "OL9773191M"
                    ],
                    "publish_date": [
                        "July 1982",
                        "1982"
                    ],
                    "publish_year": [
                        1982
                    ],
                    "first_publish_year": 1982,
                    "number_of_pages_median": 480,
                    "oclc": [
                        "8545466"
                    ],
                    "isbn": [
                        "0445047119",
                        "9780449047118",
                        "0449047113",
                        "9780445047112"
                    ],
                    "last_modified_i": 1303831840,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "publisher": [
                        "Popular Library",
                        "Fawcett Books"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2644662A"
                    ],
                    "author_name": [
                        "John Dunning"
                    ],
                    "id_goodreads": [
                        "572193",
                        "1709509"
                    ],
                    "id_librarything": [
                        "762567"
                    ],
                    "publisher_facet": [
                        "Fawcett Books",
                        "Popular Library"
                    ],
                    "_version_": 1735676409105350658,
                    "author_facet": [
                        "OL2644662A John Dunning"
                    ]
                },
                {
                    "key": "/works/OL26878533W",
                    "type": "work",
                    "seed": [
                        "/books/OL36444779M",
                        "/works/OL26878533W",
                        "/authors/OL10084594A"
                    ],
                    "title": "Denver Gift",
                    "title_suggest": "Denver Gift",
               [...]
