---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=2Meb8rejhZH9q1UL7IGZy1tCSm4AiZcF&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 28 Sep 2022 02:49:56 GMT
      Reversegeocodetransactioncount:
      - '0'
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=2Meb8rejhZH9q1UL7IGZy1tCSm4AiZcF&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=314827770"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=2Meb8rejhZH9q1UL7IGZy1tCSm4AiZcF&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=2008695858"}]}]}'
  recorded_at: Wed, 28 Sep 2022 02:49:55 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=529ec8123995c0d5362a84a8570088f1&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664333396,"sunrise":1664283136,"sunset":1664326167,"temp":64.98,"feels_like":63.43,"pressure":1022,"humidity":48,"dew_point":44.83,"uvi":0,"clouds":59,"visibility":10000,"wind_speed":1.01,"wind_deg":170,"wind_gust":1.99,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1664330400,"temp":65.66,"feels_like":64.09,"pressure":1022,"humidity":46,"dew_point":44.35,"uvi":0,"clouds":55,"visibility":10000,"wind_speed":7.54,"wind_deg":185,"wind_gust":11.99,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.24},{"dt":1664334000,"temp":64.98,"feels_like":63.43,"pressure":1022,"humidity":48,"dew_point":44.83,"uvi":0,"clouds":59,"visibility":10000,"wind_speed":4.16,"wind_deg":201,"wind_gust":7.2,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.12},{"dt":1664337600,"temp":65.34,"feels_like":63.73,"pressure":1022,"humidity":46,"dew_point":44.04,"uvi":0,"clouds":59,"visibility":10000,"wind_speed":2.82,"wind_deg":286,"wind_gust":8.19,"weather":[{"id":803,[...]
