---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=2Meb8rejhZH9q1UL7IGZy1tCSm4AiZcF&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Sep 2022 03:57:50 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=2Meb8rejhZH9q1UL7IGZy1tCSm4AiZcF&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1868268115"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=2Meb8rejhZH9q1UL7IGZy1tCSm4AiZcF&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-794699792"}]}]}'
  recorded_at: Mon, 26 Sep 2022 03:57:50 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=529ec8123995c0d5362a84a8570088f1&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664164623,"sunrise":1664110223,"sunset":1664153565,"temp":58.69,"feels_like":56.48,"pressure":1026,"humidity":47,"dew_point":38.55,"uvi":0,"clouds":53,"visibility":10000,"wind_speed":3.53,"wind_deg":77,"wind_gust":6.42,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1664161200,"temp":60.48,"feels_like":58.24,"pressure":1025,"humidity":43,"dew_point":37.9,"uvi":0,"clouds":53,"visibility":10000,"wind_speed":6.13,"wind_deg":86,"wind_gust":10.76,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1664164800,"temp":58.69,"feels_like":56.48,"pressure":1026,"humidity":47,"dew_point":38.55,"uvi":0,"clouds":53,"visibility":10000,"wind_speed":3.53,"wind_deg":77,"wind_gust":6.42,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1664168400,"temp":59.97,"feels_like":57.74,"pressure":1025,"humidity":44,"dew_point":38.03,"uvi":0,"clouds":51,"visibility":10000,"wind_speed":3.11,"wind_deg":31,"wind_gust":5.3,"weather":[{"id":803,"main":"[...]
